@media screen and ( max-width : 360px ) and ( max-height : 640px ) {

  body {
    width: 400px;
  }

  .Container {
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.5);
    width: 100%;
  }

  .Description {
    align-items: center;
    display: flex;
    font-size: 16pt;
    justify-content: space-between;
    max-width: 200px;
  }

  .Instruction {
    background-color: #c4c4c4;
    max-width: 300px;
    padding: 10px 5px;
    text-align: justify;
  }

  .Video {
    max-width: 400px;
  }

  .Rec-Menu {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 100px;
    max-width: 200px;
    overflow-x: scroll;
  }
}

@media screen and ( max-width : 760px ) {

  .Container {
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.5);
    width: 100%;
  }

  .Image-Details {
    border-radius: 10px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.7);
    margin-top: 50px;
    max-width: 300px;
  }

  .Recomendation {
    border-radius: 10px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin: 0 20px 20px;
    max-height: 200px;
    max-width: 150px;
  }

  .Image-Recomendation {
    max-height: 100px;
    max-width: 100px;
  }

  .Rec-Menu {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 100px;
    max-width: 400px;
    overflow-x: scroll;
  }

}

.Image-Details {
  border-radius: 10px;
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.7);
  margin-top: 50px;
  width: 400px;
}

.Description {
  align-items: center;
  display: flex;
  font-size: 16pt;
  justify-content: space-between;
  width: 400px;
}

.Title-List {
  font-size: 16pt;
  margin: 10px 0;
}

.Ingredientes {
  background-color: #c4c4c4;
  max-width: 400px;
  padding-left: 10px;
  text-align: left;
}

.Instruction {
  background-color: #c4c4c4;
  padding: 10px 5px;
  text-align: justify;
  width: 400px;
}

.Rec-Menu {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 100px;
  overflow-x: scroll;
  width: 550px;
}

.Recomendation {
  border-radius: 10px;
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column-reverse;
  height: 300px;
  justify-content: center;
  margin: 0 20px 20px;
  width: 250px;
}

.Image-Recomendation {
  height: 200px;
  width: 200px;
}

.Recipe-title {
  color: black;
  cursor: pointer;
  font-size: 14pt;
  margin: 5px;
  text-decoration: none;
}

.Progresse {
  align-items: center;
  display: flex;
}

.Button-Progresse {
  background-color: #588582;
  border-color: #588582;
  bottom: 0;
  font-size: 20pt;
  font-style: italic;
  height: 60px;
  position: fixed;
  width: 100%;
}
