@media screen and ( max-width : 760px ) {

  .Container {
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.5);
  }
}

.Header {
  align-items: center;
  background-color: #c4c4c4;
  display: flex;
  font-size: 16pt;
  justify-content: space-around;
  max-height: 65px;
}

.Icon {
  background-color: #c4c4c4;
  border: none;
  cursor: pointer;
  padding: 0 15px;
}

.Icon:focus {
  background-color: #c4c4c4;
  border: none;
  outline: none;
  padding: 0 15px;
}

.Input-Search {
  font-size: 16pt;
  height: 40px;
  width: 90%;
}

.Radio {
  display: flex;
  font-size: 16pt;
  justify-content: space-around;
}

.Category button {
  font-size: 12pt;
  height: 50px;
  margin: 10px 5px;
  width: 100px;
}

.Footer {
  align-items: center;
  background-color: #c4c4c4;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  max-height: 65px;
  padding: 10px;
  position: fixed;
  width: 100%;
}

.Div {
  float: left;
  margin: 0 2%;
}

.Section {
  align-items: center;
  border-radius: 5%;
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column-reverse;
  margin: 20px;
}

.Image {
  border-radius: 10%;
  max-width: 400px;
}

.Cards {
  margin: 10px;
  max-width: 200px;
  padding: 10px;
}

.Title-Cards {
  color: black;
  font-size: 15pt;
  text-decoration: none;
}
