.Container {
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.5);
  margin-top: 150px;
  max-height: 800px;
  max-width: 450px;
}

.Title-Login {
  font-size: 20pt;
  font-style: italic;
  padding: 10px 0 70px;
}

.Input-Login {
  font-size: 16pt;
  font-style: italic;
  height: 30px;
  margin-bottom: 50px;
  padding: 10px 5px;
  width: 70%;
}

.Button-Login {
  background-color: #6ce34f;
  border-color: #6ce34f;
  font-size: 20pt;
  font-style: italic;
  height: 60px;
  margin: 60px 0 150px;
  width: 90%;
}

.Header{
  align-items: center;
  background-color: #c4c4c4;
  display: flex;
  font-size: 16pt;
  justify-content: space-between;
  max-height: 65px;
}

.Perfil-Icon{
  padding-left: 15px;
}

.Search-Icon{
  background-color: #c4c4c4;
  outline: none;
  border: none;
  padding-right: 15px;
}

.Search-Icon:focus{
  background-color: #c4c4c4;
  outline: none;
  border: none;
  padding-right: 15px;
}

.Input-Search{
  font-size: 14pt;
  height: 30px;
  width: 90%;
}

.Radio{
  display: flex;
  font-size: 14pt;
  justify-content: space-around;
}

.Footer {
  background-color: #c4c4c4;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
