@media screen and ( max-width : 760px ) {

  .Container {
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.5);
    max-height: 360px;
    max-width: 340px;
  }
}

.Title-Login {
  font-size: 20pt;
  font-style: italic;
  padding: 10px 0 70px;
}

.Input-Login {
  font-size: 16pt;
  font-style: italic;
  height: 30px;
  margin-bottom: 50px;
  padding: 10px 5px;
  width: 70%;
}

.Button-Login {
  background-color: #6ce34f;
  border-color: #6ce34f;
  font-size: 20pt;
  font-style: italic;
  height: 60px;
  margin: 60px 0 150px;
  width: 90%;
}

.Header {
  align-items: center;
  background-color: #c4c4c4;
  display: flex;
  font-size: 16pt;
  justify-content: space-around;
  max-height: 65px;
}

.Icon {
  background-color: #c4c4c4;
  border: none;
  padding: 0 15px;
}

.Icon:focus {
  background-color: #c4c4c4;
  border: none;
  outline: none;
  padding: 0 15px;
}

.Input-Search {
  font-size: 16pt;
  height: 40px;
  width: 90%;
}

.Radio {
  display: flex;
  font-size: 16pt;
  justify-content: space-around;
}

.Footer {
  background-color: #c4c4c4;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  max-height: 65px;
  padding: 10px;
  position: fixed;
  width: 100%;
}
